    <div id="leftmenu">
      <ul id="glfsmenulist">
        <li><a href="/">Página Inicial</a></li>
        <li><a href="/glfs/index.html">Página Inicial do GLFS</a></li>
        <li><a href="/glfs/news.html">Notícias</a></li>
        <li><a href="/glfs/download.html">Transferência</a></li>
        <li><a href="https://glfs-book.github.io/glfs/introduction/askhelp.html">Suporte</a></li>
        <li><a href="https://github.com/glfs-book/glfs/issues">Problemas</a></li>
      </ul>
    </div>
