<!--#set var="pageTitle" value="Notícias do GLFS" -->
<!--#include virtual="header.html" -->
<!--#include virtual="menu.html" -->
    <div class="main">
    <h1>Notícias do GLFS</h1>

    <p>Esta seção abrange mudanças notáveis ​​no GLFS. Além das entradas 
    no registro das mudanças do livro, mudanças relevantes das quais 
    você deveria estar ciente estão informadas aqui.</p>

    <dl class="newsItem">
      <dt>Lançamentos agora disponíveis</dt>
      <dd><em>Zeckma - 2025/01/31</em>
        <p>Lançamentos baixáveis agora disponíveis.</p>
        <p>Os lançamentos HTML fragmentada do GLFS agora estão 
        disponíveis para
           <a href="/glfs/download.html">baixar</a>.
        </p>
        <p>Esses lançamentos incluem as versões SysV e Systemd do livro.</p>
        <p>Para quaisquer problemas, por favor, direcione-os para o
<a href="https://github.com/glfs-book/glfs/issues">rastreador de problemas</a>.
        </p>
      </dd>
    </dl>

    <dl class="newsItem">
      <dt>Edição Systemd agora disponível</dt>
      <dd><em>Zeckma - 2025/01/15</em>
        <p>O suporte ao Systemd agora está disponível no livro.</p>
        <p>Devido às restrições das páginas do GitHub, essa versão ainda 
        não está renderizada online, mas você consegue
           <a href="/glfs/download.html">renderizá-la você mesmo(a)</a>.</p>
        <p>Para quaisquer problemas, por favor, direcione-os para o
<a href="https://github.com/glfs-book/glfs/issues">rastreador de problemas</a>.
        </p>
      </dd>
    </dl>

<!--#include virtual="/common/footer.html" -->
