<!--#set var="pageTitle" value="Bem-vindo(a) ao Linux From Scratch!" -->
<!--#include virtual="header.html" -->
<!--#include virtual="menu.html" -->

    <div class = "main">
     <h1>Bem-vindo(a) ao Linux From Scratch!</h1> 

     <p>O Linux From Scratch (LFS) é um projeto que fornece a você 
     instruções passo-a-passo para construir o teu próprio sistema 
     personalizado GNU/Linux, inteiramente a partir do código fonte.
     </p>

     <p>Atualmente, a organização Linux From Scratch consiste dos 
     seguintes subprojetos:
     </p>

     <ul id = "subs">

       <li><a href = "lfs/">LFS</a> :: Linux From Scratch é o livro 
       principal, a base a partir da qual todos os outros projetos são 
       derivados.</li>

       <li><a href = "blfs/">BLFS</a> :: Beyond Linux From Scratch ajuda 
       você a estender a tua instalação finalizada do LFS em um sistema 
       mais personalizado e usável.</li>

       <li><a href = "alfs/">ALFS</a> :: Automated Linux From Scratch 
       fornece ferramentas para automatizar e gerenciar construções do 
       LFS e do BLFS.</li>

       <li><a href = "mlfs/">MLFS</a> :: Multilib-LFS é uma variante do 
       LFS que constrói um sistema o qual é apto a executar binários de 
       32 bits.</li>

       <li><a href = "glfs/">GLFS</a> :: Gaming Linux From Scratch é 
       baseado no BLFS e te ajuda a instalar software de suporte a jogos 
       como Steam ou Wine em um novo sistema LFS ou MLFS.</li>

       <li><a href = "hints/">Dicas</a> :: O projeto Dicas é uma coleção 
       de documentos que explicam como melhorar o teu sistema LFS de 
       maneiras que não estão inclusas nos livros LFS ou BLFS.</li>

       <li><a href = "patches/">Remendos</a> :: O projeto Remendos serve 
       como um repositório central para todos os remendos úteis para 
       um(a) usuário(a) do LFS.</li>

       <li><a href = "lfs/LFS-EDITORS-GUIDE.html">Guia do(a) 
       Editor(a) do LFS</a> :: Um documento que descreve o processo de 
       desenvolvimento do LFS.</li>

       <li><a href = "museum/">Museu</a> :: Cópias das versões antigas do 
       LFS e do BLFS.</li>
       </ul>

<!--#include virtual="/common/footer.html" -->
