    <div id = "leftmenu">
      <ul id = "leftmenulist">
        <li><a href = "/">Início</a></li>
        <li><a href = "/news.html">Notícias</a></li>
        <li><a href = "/support.html">Suporte</a></li>
        <li><a href = "/faq">FAQ Geral</a></li>
        <li><a href = "/mail.html">Listas de Discussão</a></li>
        <li><a href = "https://wiki.linuxfromscratch.org/lfs/">Wiki</a></li>
        <li><a href = "/search.html">Buscar</a></li>
        <li><a href = "/credits.html">Créditos</a></li>
        <li><a href = "/contribute.html">Contribuir</a></li>
        <li><a href = "/mirrors.html">Espelhos do Sítio</a></li>
        <li><a href = "/sitemap.html">Mapa do Sítio</a></li>
      </ul>
    </div>
