    <div id = "leftmenu">
      <ul id = "alfsmenulist">
        <li><a href = "/">Página Inicial</a></li>
        <li><a href = "/alfs/index.html">Página Inicial do ALFS</a></li>
        <li><a href = "/alfs/news.html">Notícias</a></li>
        <li><a href = "/alfs/download.html">Transferência</a></li>
        <li><a href = "/alfs/documentation.html">Documentação</a></li>
        <li><a href = "/support.html">Suporte</a></li>
        <li><a href = "/mail.html">Listas de Discussão</a></li>
        <li><a href = "https://wiki.linuxfromscratch.org/alfs">Wiki</a></li>
        <li><a href = "/contribute.html">Contribuir</a></li>
        <li><a href = "/mirrors.html">Espelhos do Sítio</a></li>
      </ul>
    </div>
