<!--#set var="pageTitle" value="Notícias do MLFS" -->
<!--#include virtual="header.html" -->
<!--#include virtual="menu.html" -->
    <div class="main">
    <h1>Notícias do MLFS</h1>

    <p>Mudanças notáveis no sistema MLFS. Além das entradas no registro 
    das mudanças dos livros, mudanças relevantes das quais você deveria 
    estar ciente estão informadas aqui:</p>

<!--
    <dl class="newsItem">
      <dt>Teaser</dt>
      <dd><em>Thomas Trepl - YYYY/MM/DD</em>
        <p>Description</p>
      </dd>
    </dl>
-->
    <dl class="newsItem">
      <dt>padrões do gcc mudados</dt>
      <dd><em>Thomas Trepl - 2024/11/12</em>
        <p>Adicionado um <tt>sed</tt> para todas as instruções de 
        construção do gcc (capítulo 5, 6, 8) para tornar o sinalizador 
        <tt>-mstackrealign</tt> configurado por padrão para as 
        construções m32.</p>
      </dd>
    </dl>

    <dl class="newsItem">
      <dt>ISL adicionado</dt>
      <dd><em>Thomas Trepl - há muito tempo</em>
        <p>O pacote ISL (<a href="http://libisl.sourceforge.io/">veja 
        aqui</a>) foi adicionado de forma que o gcc o pegará para 
        algumas otimizações.</p>
      </dd>
    </dl>
<!--#include virtual="/common/footer.html" -->
