<!--#include virtual="/common/header.html" -->
    <div class="navbar">
      <ul id="menu">
        <li><a id="patches"     href="/patches/">Remendos</a></li>
        <li><a id="hintsactive" href="/hints/">Dicas</a></li>
        <li><a id="glfs"        href="/glfs/">GLFS</a></li>
        <li><a id="mlfs"        href="/mlfs/">MLFS</a></li>
        <li><a id="alfs"        href="/alfs/">ALFS</a></li>
        <li><a id="blfs"        href="/blfs/">BLFS</a></li>
        <li><a id="lfs"         href="/lfs/">LFS</a></li>
      </ul>
    </div>
