    <div id = "leftmenu">
      <ul id = "hintsmenulist">
        <li><a href = "/">Página inicial</a></li>
        <li><a href = "/hints/index.html">Página inicial das Dicas</a></li>
        <li><a href = "/hints/download.html">Transferência</a></li>
        <li><a href = "/hints/howtowrite.html">Escreva uma Dica</a></li>
        <li><a href = "/mail.html">Listas de Discussão</a></li>
        <li><a href = "/contribute.html">Contribuir</a></li>
        <li><a href = "/mirrors.html">Espelhos do Sítio</a></li>
      </ul>
    </div>


